:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

* {
  color: #fff;
  font-family: monospace;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--nord0);
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
}

form {
  margin: 10px;
}

input {
  border: none;
  padding: 10px;
  width: 50%;
  background-color: var(--nord1);
}

.item-12 {
  padding: 10px;
  width: 100%;
}

.item-6 {
  width: 50%;
}

.item-3 {
  width: 25%;
}

.item-2 {
  width: 16.6%;
}

#clock {
  font-size: 10rem;
}
