{{ template "chart_header.tmpl" .}}
<script>
  var data = {
    labels: [
      {{ range .data }}"{{ .Name }} €{{ .Average }}",{{ end }}
    ],
    series: [
      {{ range .data }}{{ .Average }},{{ end }}
    ]
  };

  var options = {
    chartPadding: 30,
      labelOffset: 0,
      labelInterpolationFnc: function(value) {
        console.log(value)
        return value;
      },
      donut: true,
      donutWidth: 200,
      startAngle: 280
  };

  new Chartist.Pie('.ct-chart', data, options);
</script>
{{ template "chart_footer.tmpl" .}}
