{{ template "header.html" .}}

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Day</th>
      <th scope="col">Cost</th>
      <th scope="col">Cost Per Litre</th>
      <th scope="col">Litre</th>
      <th scope="col">Location</th>
      <th scope="col">Kilometers</th>
      <th scope="col">Litre average</th>
      <th scope="col">Duration</th>
      <th scope="col">Kilometer Per Hour</th>
    </tr>
  </thead>
  <tbody>
    {{range .gas}}
    <tr>
      <td>{{ .Fuel.Date | formatDate }}</td>
      <td>{{ .Fuel.Date | formatDay }}</td>
      <td>{{ .Fuel.Cost }}</td>
      <td>{{ .Fuel.CostPerLitre }}</td>
      <td>{{ .Fuel.Litre }}</td>
      <td>{{ .Fuel.Location.Value }}</td>
      <td>{{ .FuelStats.Kilometers }}</td>
      <td>{{ .FuelStats.LitreAverage }}</td>
      <td>{{ .FuelStats.Duration }}</td>
      <td>{{ .FuelStats.KilometersPerHour}}</td>
    </tr>
    {{end}}
  </tbody>
</table>

{{ template "gas_input.html" .}}
{{ template "footer.html" .}}
