<div class="modal fade" id="modal-primary" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{ .primary.desc }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="parse" method="post" enctype="multipart/form-data">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Select Month</label>
              <select class="custom-select" name="month">
              {{range .months}}
              <option value="{{ .Index }}" {{ if .Selected }}selected="selected"{{end}}>{{ .Name }}</option>
              {{end}}
              </select>
            </div>
            <div class="form-group col-md-6">
              <label>Select Year</label>
              <select class="custom-select" name="year">
              {{range .years}}
              <option value="{{ .Index }}" {{ if .Selected }}selected="selected"{{end}}>{{ .Index }}</option>
              {{end}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-file">
              <input type="file" name="files" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>